* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html,
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* Header */
.header {
    background: #123057;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    color: #fff;
}

/* Navbar */
.logo {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 3px 0;
    max-width: 100%;
    height: auto;
    margin-left: 20px;
}

.logo img {
    height: 50px;

}

.navbar {
    display: flex;
    margin: 20px;
}

.navbar ul {
    display: flex;
    list-style-type: none;
}

.navbar ul li {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-left: 15px;
    text-align: center;
}

.navbar ul li a {
    color: #acadaf;
    font-size: 16px;
    text-decoration: none;
}

/* Sidebar */
.sidebar {
    background: #042044;
    width: 220px;
}

.sidebar ul li {
    border-bottom: 1px solid #5c5a5a;
}

.sidebar ul li a {
    padding: 15px;
    display: block;
    text-decoration: none;
    color: #acadaf;
}

.sidebar ul li a:hover {
    background: #123057;
}

/* Sidebar ends here */

/* Content */
.content {
    background: #ebe8e8;
    display: flex;
    height: 90vh;
}

.main-content {
    margin: 10px auto;
    width: 82%;
    display: flex;
    background: #ffffff;
    padding: 30px;
    -webkit-box-shadow: 0px 4px 16px 3px #d5ddea80;
    -moz-box-shadow: 0px 4px 16px 3px #d5ddea80;
    box-shadow: 0px 4px 16px 3px #d5ddea80;
}

.main-widget {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    min-height: 100%;
    align-items: stretch;

}

table {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    /* width: 98%; */
}

.main-widget table,
th,
td {
    border-bottom: 1px solid #dfdddd;
    border-collapse: collapse;
    padding: 8px;
}

.tableHeader {
    background: #e6e7e9;
    padding: 10px;
}

:nth-of-type(even) .v-btn {
    background: #4a924e;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 3px;
    font-size: 16px;
}

.r-btn {
    background: #8d0505;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 3px;
    font-size: 16px;
}

/* Footer */
.clear::after,
.clear::before {
    clear: both;
}

.footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    padding: 5% 0;
    color: #fff;
    background-color: #1e2127;
    padding: 10px;
    flex-shrink: 0;
}

/* Media queries */
@media all and (max-width: 500px) {

    html,
    body {
        display: table;
        width: 100%;
    }

    .header {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
    }

    .logo {
        max-width: 100%;
        height: auto;
        padding: 16px 0 0;
        margin: auto;
    }

    .navbar {
        margin: auto;
    }

    .navbar ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        flex-direction: column;
        margin-top: 0;
    }

    .navbar ul li {
        padding: 5px;
    }

    .content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        flex-direction: column;
    }

    .sidebar {
        -webkit-flex-direction: column;
        flex-direction: column;
    }

    .sidebar ul li a {
        text-align: center;
    }

    .main-widget {
        display: flex;
    }
}

@media all and (max-width: 800px) {
    .header {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
    }

    .logo {
        max-width: 100%;
        height: auto;
        padding: 16px 0 0;
        margin: auto;
    }

    .navbar {
        margin: auto;
    }

    .navbar ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        flex-direction: column;
        margin-top: 0;
    }

    .navbar ul li {
        padding: 5px;
    }

    .content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        flex-direction: column;
    }

    .sidebar {
        -webkit-flex-direction: column;
        flex-direction: column;
        width: 100%;
    }

    .sidebar ul li a {
        text-align: center;
    }
}