/* Sidebar */
.sidebar {
  background: #01153a;
  position: relative;
  color: #7e7a7a;
  font-size: 16px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.logo {
  padding: 25px;
  margin: 0 auto;
  position: relative;
  border-bottom: 1px solid #706e6e;
}

.side-menu ul {
  list-style-type: none;
  width: 100%;
}

.sidebar ul li {
  display: block;
  border-bottom: 1px solid #706e6e;
  width: 100%;
}

.sidebar ul li a {
  text-decoration: none;
  color: #a19e9e;
  display: block;
  padding: 15px;
  width: 100%;
}

.sidebar ul li a:hover {
  background: #021c4b;
}

/* Header */
.header {
  background: rgb(243, 240, 241);
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  border-bottom: 2px solid #000000;
}

.side-close {
  float: left;
}

.nav-menu {
  float: right;
  margin: 10px;
}

.nav-menu ul {
  display: inline-block;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 0px;
}

.nav-menu ul li {
  display: inline;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 10px 12px;
  list-style-type: none;
  text-decoration: none;
  overflow: hidden;
  text-align: center;
}

.nav-menu ul li a {
  color: #000000;
  display: block;
  width: 100%;

}

.nav-menu ul li a:hover {
  background: #01153a;
  color: #ffffff;
}

.main {
  width: 95%;
  padding: 20px;
  margin: auto;
  border: 1px solid #dee4ee;
  -webkit-box-shadow: 0px 4px 16px 3px rgba(213, 221, 234, 0.5);
  -moz-box-shadow: 0px 4px 16px 3px rgba(213, 221, 234, 0.5);
  box-shadow: 0px 4px 16px 3px rgba(213, 221, 234, 0.5);
}

.content {
  position: relative;
}

/* table */
table {
  padding: 20px;
  margin: 0 auto;
  width: 95%;
  text-align: center;
}

table,
th,
td {
  border-bottom: 1px solid #ddd;
  border-collapse: collapse;
  padding: 7px;
  position: relative;
}

th {
  background: #ebe6e6;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* For mobile phones: */
[class*="col-"] {
  float: left;
  flex: 100%;
  width: 100%;
  height: 100%;
  padding: 0;
}

@media only screen and (min-width: 768px) {

  /* For desktop: */
  .col-1 {
    flex: 8.33;
    width: 8.33%;
  }

  .col-2 {
    flex: 16.66%;
    width: 16.66%;
  }

  .col-3 {
    flex: 25%;
    width: 25%;
  }

  .col-4 {
    flex: 33.33%;
    width: 33.33%;
  }

  .col-5 {
    flex: 41.66%;
    width: 41.66%;
  }

  .col-6 {
    flex: 50%;
    width: 50%;
  }

  .col-7 {
    flex: 58.33%;
    width: 58.33%;
  }

  .col-8 {
    flex: 66.66%;
    width: 66.66%;
  }

  .col-9 {
    flex: 75%;
    width: 75%;
  }

  .col-10 {
    flex: 83.33%;
    width: 83.33%;
  }

  .col-11 {
    flex: 91.66%;
    width: 91.66%;
  }

  .col-12 {
    flex: 100%;
    width: 100%;
  }

}

@media only screen and (min-width: 300px) {

  /* For desktop: */
  .col-s-1 {
    flex: 8.33;
    width: 8.33%;
  }

  .col-s-2 {
    flex: 16.66%;
    width: 16.66%;
  }

  .col-s-3 {
    flex: 25%;
    width: 25%;
  }

  .col-s-4 {
    flex: 33.33%;
    width: 33.33%;
  }

  .col-s-5 {
    flex: 41.66%;
    width: 41.66%;
  }

  .col-s-6 {
    flex: 16.66%;
    width: 16.66%;
  }

  .col-s-7 {
    flex: 58.33%;
    width: 58.33%;
  }

  .col-s-8 {
    flex: 66.66%;
    width: 66.66%;
  }

  .col-s-9 {
    flex: 75%;
    width: 75%;
  }

  .col-s-10 {
    flex: 83.33%;
    width: 83.33%;
  }

  .col-s-11 {
    flex: 91.66%;
    width: 91.66%;
  }

  .col-s-12 {
    flex: 100%;
    width: 100%;
  }

}

/* Media Queries */
/* @media all and (max-width: 500px) {
    html {
      display: table;
    }
    .top-bar {
      background-color: #15549a;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      text-align: center;
    }
    .logo {
      max-width: 100%;
      height: auto;
      padding: 18px 0 0;
    }
    .menu ul {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      flex-direction: column;
      margin-top: 0;
    }
    .menu ul li {
      padding: 5px;
    }
    .banner-text-items {
      width: 100%;
      text-align: center;
    }
    .banner-text-items h2 {
      font-size: 1.5em;
    }
    .banner-text-items p {
      width: 100%;
    }
    .main-content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      flex-direction: column;
    }
    .side-content {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
  }
  @media all and (max-width: 800px) {
    .top-bar {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      text-align: center;
    }
    .menu ul {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      flex-direction: column;
      margin-top: 0;
    }
    .menu ul li {
      padding: 5px;
    }
    .banner-text-items {
      width: 100%;
      padding: 20px;
    }
    .banner-text-items h2 {
      font-size: 2em;
    }
    .main-content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      flex-direction: column;
    }
    .testimonial-content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      flex-direction: column;
    }
    .testimonial1 {
      padding: 5%;
    }
    .main1 {
      margin-top: 40px;
    }
  }
   */