* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

/* header */
header {
  background-color: #020631;
  flex: 0 0 auto;
}

.header-content {
  width: 95%;
  margin: 0 auto;
}

.logo {
  float: left;
  margin: 10px;

}

.logo img {
  width: 150px;
  height: 40px;
}

.nav-menu {
  float: right;
  margin: 0;
}

.nav-menu ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.nav-menu ul li {
  float: left;
  margin: 10px;
}

.nav-menu ul li a {
  text-decoration: none;
  display: inline-block;
  color: #ffffff;
  padding: 10px 12px;
}

.nav-menu ul li a:hover {
  background: #535252;
}

/* header ends here */

/* Main content */
main {
  background: #e9e6e6;
  flex: 1 0 auto;
}

.login-form{
    background: #ffffff;
    width: 40%;
    margin: 40px auto;
    padding:0;
    -webkit-box-shadow: 0px 4px 16px 3px rgba(213, 221, 234, 0.5);
    -moz-box-shadow: 0px 4px 16px 3px rgba(213, 221, 234, 0.5);
    box-shadow: 0px 4px 16px 3px rgba(213, 221, 234, 0.5);
  }

.login-form form {
  padding: 30px;

}

.form-header {
  text-align: center;
}

.form-header h2,
p {
  margin-top: 10px;
}

.login-form input[type=text],
input[type=password],
input[type=email],
input[type=submit] {
  padding: 10px;
  width: 100%;
  border: 1px solid #ddd;
  margin: 15px;
  margin-left: 0;
}

.login-form input[type=submit] {
  font-size: 20px;
  width: 100%;
  background: #090b50;
  color: #ffffff;
}

.form-input {
  width: 100%;
}

.sidenav {
  float: left;
  background: #535252;
  width: 220px;
}

.sidenav ul {
  padding: 30px 0px 30px 0px;
  list-style: none;
}

.sidenav ul li {
  border-bottom: 1px solid #292828;
}

.sidenav ul li a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  padding: 15px;
}

.sidenav ul li a:hover {
  background: #292828;
}

/* Main content end here */
/* Footer */
footer {
  background: #222122;
  color: #ffffff;
  text-align: center;
  padding: 20px;
  flex: 0 0 auto;
}