* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body,
html {
    background-color: #F0ECE9;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    height: 100vh;
}

.header {
    background-color: #010430;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: auto;
}

.logo {
    color: #fff;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 3px 0;
    max-width: 100%;
    height: auto;
    margin-left: 50px;
}
.logo img{
    width: 150px;
    height: 50px;
    border-radius: 20px;    
}
.navbar {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 20px;
}

.navbar ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.navbar ul li {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
}

.navbar ul li a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}

.navbar ul li a:hover {
    color: #c53838;
}

.banner {
    background: url("../images/business-cash-loan-banner.jpg");
    max-width: 100%;
    max-height: 100%;
    background-size: cover;
}

.banner-text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 5% 0;
}

.banner-text-items {
    color: #000;
    margin: auto;
    padding-left: 50px;
    text-align: left;
}

.banner-text-items h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.banner-text-items p {
    font-size: 1.5em;
    width: 50%;
    line-height: 32px;
}

.banner-text button {
    padding: 10px;
    width: 200px;
    margin-top: 10px;
    font-size: 20px;
    border: none;
    background: #010430;
    color: #fff;
}
main {
    flex-grow: 1;
    flex-shrink: 0;
  }
  .main-content {
    text-align: center;
    padding-top: 30px;
  }
  .main-content h1 {
    margin: 0px 0px 10px 0px;
    color: #3c4d6b;
    font-weight: 500;
  }
  .main-widget {
    padding: 20px;
    background: #ffffff;
    height: 150px;
    line-height: 25px;
    border: 1px solid #ffffff;
    -webkit-box-shadow: 0px 4px 16px 3px #c2bcbc80;
    -moz-box-shadow: 0px 4px 16px 3px #b3aeae80;
    box-shadow: 0px 4px 16px 3px #b3b1b180;
  }
  .main-widget h3 {
    margin-bottom: 20px;
  }
  .main-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    padding-top: 3%;
    min-height: 100%;
    align-items: stretch;
  }

  .number {
    font-size: 24px;
    font-weight: 500;
  }
  .main-cont {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
    padding: 3%;
    height: 250px;
  }

  footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    padding: 5% 0;
    color: #fff;
    background-color: #3e3f41;
    padding: 10px;
    flex-shrink: 0;
  }
  .footer-widget {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 3%;
    text-align: center;
  }

.footer-copy {
  background-color: #16191e;
  color: #fff;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
.login-form{
  text-align: center;
  background: #ffffff;
  padding: 30px 0px 30px 0px;
  border: 1px solid #dee4ee;
  -webkit-box-shadow: 0px 4px 16px 3px rgba(213, 221, 234, 0.5);
  -moz-box-shadow: 0px 4px 16px 3px rgba(213, 221, 234, 0.5);
  box-shadow: 0px 4px 16px 3px rgba(213, 221, 234, 0.5);
}
.login-flex{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 5%;
}
.login-content{
  background: ffffff;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-form input {
  min-width: 50%;
  margin: 10px;
}
.login-form input[type="text"],
input[type="email"],
input[type="number"],
select,
input[type="password"] {
  border: none;
  border-bottom: 1px solid #ffffff;
  background: #fff;
  outline: none;
  height: 40px;
  color: #000;
  font-size: 16px;
  border: 1px solid #d4e7eb;
  padding-left: 10px;
}
.login-form input[type="submit"] {
  width: 30%;
  border: none;
  outline: none;
  background: #15549a;
  color: #ffffff;
  font-size: 18px;
  height: 30px;
  border-radius: 5px;
}

.login-form input[type="submit"]:hover {
  cursor: pointer;
  background: #0096db;
  color: #000000;
}
.login-form a {
  text-decoration: none;
}

.login-form a:hover {
  color: #e8491d;
}

.side-content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-shrink: 0;
}
.sidebar {
  flex: 1;
  margin: 0;
  padding: 0;
  background-color: #0a0d46;
  color: #e4dcdc;
}
.tables{
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 14px;
}
.tables table, th,td{
border-collapse: collapse;
border-bottom: 1px solid #ddd;
padding: 10px;
}
.tables thead{
background: #cccccc;
/* color: #ffffff; */
}
.sidenav ul li {
  text-align: center;
  
  border-bottom: 1px solid #686666;
  list-style-type: none;
}
.sidenav ul li a:hover {
  background-color: #041c5e;
  color: white;
}
.sidebar ul li a {
  text-decoration: none;
  color: #968d8d;
  font-size: 16px;
  padding: 20px;
  display: block;
}
.dashcontent {
  flex: 3;
  background-color: #fff;
  padding: 3% 3%;
  text-align: center;
  min-height: 400px;
}
.form-content{
  border: 1px solid #ddd;
  padding: 30px;
}
.form-header{
  padding: 30px;
}
.form-content input[type=text],input[type=submit],input[type=email]{
 width: 50%;
 margin: 10px auto;
 padding: 10px;
border: 1px solid #ddd;
 display: block;
 font-size: 16px;
}
.dashcontent p {
  padding: 1%;
}





  /* Media queries */
  @media all and (max-width: 500px) {
    html {
      display: table;
    }
    .header {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      text-align: center;
    }
    .logo {
      max-width: 100%;
      height: auto;
      padding: 18px 0 0;
    }
    .navbar ul {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      flex-direction: column;
      margin-top: 0;
    }
    .navbar ul li {
      padding: 5px;
    }
    .banner-text-items {
      width: 100%;
      text-align: center;
    }
    .banner-text-items h2 {
      font-size: 1.5em;
    }
    .banner-text-items p {
      width: 100%;
    }
    .main-content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      flex-direction: column;
    }
    .side-content {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
  }
  @media all and (max-width: 800px) {
    .header {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      text-align: center;
    }
    .navbar ul {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      flex-direction: column;
      margin-top: 0;
    }
    .navbar ul li {
      padding: 5px;
    }
    .banner-text-items {
      width: 100%;
      padding: 20px;
    }
    .banner-text-items h2 {
      font-size: 2em;
    }
    .main-content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      flex-direction: column;
    }
    /* .testimonial-content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      flex-direction: column;
    }
    .testimonial1 {
      padding: 5%;
    } */
    .main-cont {
      margin-top: 40px;
    }
  }
  